
Java-Server/.idea/workspace.xml

Java-Server/.idea/uiDesigner.xml

Java-Server/out/

Java-Server/.idea/dictionaries/José_Acuña.xml

Java-Server/.idea/cssdialects.xml

C-Client/.idea/workspace.xml

C-Client/src/cmake-build-debug/

C-Client/cmake-build-debug/
